#shuttleBackground {
    background-color: green;
    display: inline-block;
    height: 65%;
    width: 35%;
    position: relative;
    top: 10%
}

#rocket {
    height: 75px;
    width: 75px;
    position: absolute;
    left: 40%;
    top: 70%;
}

#astronautRadio {
    width: 200px;
    float: left;
}

#flightStatus {
    color: green;
}

#flightDisplay {
    text-align: center; 
    height: 400px; 
    width: 100%;
}

#spaceShuttleHeight {
    display: inline-block;
}

.center-block {
    text-align: center; 
    display: inline-block;
}

.centered {
    text-align: center;
}